@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
   margin: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}

html {
   font-size: 17px;
   --transparent: rgb(256, 256, 256, 0.8);
   --smooth: all ease 350ms;
   --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   --text-shadow: 0px 0px 20px #242424;
}

body {
   color: white;
   text-shadow: var(--text-shadow);
}

.black-txt {
   color: black;
}

.light-txt {
   opacity: 0.8;
}

.center {
   margin-left: auto;
   margin-right: auto;
}

.small-txt {
   font-size: 0.8rem;
}

.medium-txt {
   font-size: 1.7rem;
   font-weight: 500;
}

.very-big-txt {
   font-size: 8rem;
   font-weight: 500;
}

.big-txt {
   font-size: 3rem;
   font-weight: 500;
}

br {
   line-height: 0.6rem;
}

hr {
   background-color: white;
   border: 0.5px solid white;
}

a {
   color: white;
   text-decoration: none;
}

input {
   background: transparent;
   border: none;
   caret-color: white;
   color: white;
}

input:focus {
   outline: none;
}