.search-area {
   height: 100%;
   /* border: 1px solid red; */
}

.search-area:hover {
   transition: var(--smooth);
}

.search-bar {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   transition: var(--smooth);
   justify-content: space-between;
}

.search-bar input {
   color: white;
   text-shadow: var(--text-shadow);
   margin: 0 1rem;
}

.bi-google {
   animation: fadeIn 700ms;
}

.search-area hr {
   animation: fadeIn 700ms;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}