.search-area {
   height: 100%;
}

.search-area:hover {
   transition: var(--smooth);
}

.search-bar {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   transition: var(--smooth);
   justify-content: space-between;
}

.search-bar input {
   text-shadow: var(--text-shadow);
   margin: 0 1rem;
}

.bi-google, .search-area hr {
   animation: fadeIn 700ms;
}