.todo-area {
   width: 30vw;
   text-align: right;
   color: black;
}

.todo-area input {
   color: black;
   caret-color: black;
}

.todo-area p {
   cursor: pointer;
   padding: 0;
}

.todo-area p:hover {
   color: white;
}

.todo-box {
   height: fit-content;
   max-height: 400px;
   width: 20vw;
   background-color: white;
   border-radius: 4px;
   text-shadow: none;
}

.todo-item {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}