.todo-area {
   box-sizing: border-box;
   width: 30vw;
   color: black;
}

.todo-area input[type=text] {
   width: 100%;
}

.todo-area .menu {
   text-align: right;
   cursor: pointer;
}

.todo-area input {
   color: black;
   caret-color: black;
}

.todo-box {
   padding: 1.1rem;
   min-height: 100px;
   max-height: 400px;
   width: 300px;
   background-color: white;
   border-radius: 6px;
   text-shadow: none;
   overflow: auto;
   display: flex;
   flex-direction: column;
}

.todo-form {
   position: sticky;
   bottom: 0;
   z-index: 1;
}

.all-todos {
   height: fit-content;
   padding: 0.8rem 0;
}