
.app {
   height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 1.4rem;
}

.top-app {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 7%;
}

.bottom-app {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 7%;
}

.location {
   width: 30vw;
   text-align: left;
}